 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Sedgwick+Ave+Display');
 *{
/* 	outline: 1px solid red;
*/ }
 body {
	  padding: 0;
	  margin: 0;
	  line-height: 1.71429;
	  background-color: #D4F9E3;
	  font-family: 'Open Sans', sans-serif;
	  width: 100%;
}
#logo-boot{
	margin-left: 50px;
}
header nav{
	background-color: #464651;
	color: white;
	width: 100%;

}
header nav ul {
	line-height: 70px;
	padding-right: 80px;
}
a{
	color: white;
}
a:hover{
	color: #41E2CD;
}


/*================================
=            segundo (hombrecito)            =
================================*/
#home{
	background-color: #41E2CD;
	width: 100%;
	height: 600px;
	position: relative;
	color: white;
}

#img-1{
	position: relative;
	top: 150px;
}
.linea-1{
	width: 100px;
	height: 5px;
	background-color: white;
}
.linea-2{
	width: 100px;
	height: 5px;
	background-color: white;
}
#text-1{
	position: relative;
	top: 150px;

}

/*=====  End of segundo (hombrecito)  ======*/

/*==================================
=            SECTION #3            =
==================================*/
#section-3{
	background-color: #7AF9D7;
}


/*=====  End of SECTION #3  ======*/

/*==============================
=            FOOTER            =
==============================*/
footer{
	background-color: #676262;
}


/*=====  End of FOOTER  ======*/
